# Ignore some static files and directories.
.project
/.htaccess
/CJzip.php
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/favicon.ico
/index.php
/LICENSE.txt
/README.md
/mainfile.php
/robots.php
/robots.txt
/web.config
/admin/
/cache/
/data/
/editors/
/files/
/images/
/includes/
/install/
/js/
/language/
/logs/
/sess/
/tmp/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/c34to40
!/modules/c34to40/*
/themes/*
!/themes/admin_default/css/c34to40.css
!/themes/admin_default/images/c34to40
!/themes/admin_default/images/c34to40/*
!/themes/admin_default/modules/c34to40
!/themes/admin_default/modules/c34to40/*
!/themes/default/css/c34to40.css
!/themes/default/images/c34to40
!/themes/default/images/c34to40/*
!/themes/default/modules/c34to40
!/themes/default/modules/c34to40/*