# Ignore some static files and directories.
/.htaccess
/config.php
/CHANGELOG.txt
/COPYRIGHT.txt
/CONTRIBUTING.md
/README.md
/favicon.ico
/index.php
/LICENSE.txt
/robots.php
/robots.txt
/web.config
/admin/
/assets/
/data/
/includes/
/install/
/uploads/

# Ignore fix module files and directories.
/modules/*
!/modules/c34to40
!/modules/c34to40/*
/themes/*
!/themes/admin_default/css/c34to40.css
!/themes/admin_default/js/c34to40.js
!/themes/admin_default/images/c34to40
!/themes/admin_default/images/c34to40/*
!/themes/admin_default/modules/c34to40
!/themes/admin_default/modules/c34to40/*
!/themes/default/css/c34to40.css
!/themes/default/js/c34to40.js
!/themes/default/js/c34to40-*.js
!/themes/default/images/c34to40
!/themes/default/images/c34to40/*
!/themes/default/modules/c34to40
!/themes/default/modules/c34to40/*
/.project
/.gitattributes
/composer.json
/vendor/
/.settings/
/.buildpath
/error.php
